/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #bd5d38;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #bd5d38;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 189, 93, 56;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  /*overflow-x: hidden;*/
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body::-webkit-scrollbar{
  width: 1em;
}
a {
  color: white;
  text-decoration-line: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #dc3545;
}
body{
  font-family: "Segoe UI";
  padding: 0;
  margin: 0;
  background: #f1f1f1;
}

hr {
  border: 100px;
}

nav ul{
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}
nav li{
  float: left;
}
nav li a{
  display: block;
  color: white;
  font-size: large;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}
nav li a:hover{
  background-color: #dc3545;
}
.active_home {
  background-color: #dc3545;
}
.active_edu:hover{
  background-color: #E09D00;
}
.active_skills:hover{
  background-color: #00CFC1;
}
.active_interests:hover{
  background-color: #5995ED;
}
.active_awards:hover{
  background-color: #2E4BB2;
}
.active_contact:hover{
  background-color: #111111;
}
/* Style the footer */

.cv-section{
  background-color: #f1f1f1;
  padding: 4% 0 0 0;
}
#home{
  height: 100vh;
}
.home-container{
  height: 100vh;
}
.split_left{
  width: 45%;
  float: left;
}
.split_right{
  float: right;
}
#education {
  text-align: center;
}
.cv-section-headings{
  color: white;
  text-align: left;
  padding-left: 62px;
  text-transform: uppercase;
  width: 1000px;
  font-size: calc(1.475rem + 2.7vw);
  height: auto;
  box-sizing: border-box;
}
.cv-section-text{
  text-align: left;
  padding-left: 45px;
}
/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 1% 1em 0 1em;
  height: 100vh;
  display: block;
  margin: 0 0 0 0;
  bottom: 0;
}

.column-section{
  float: left;
  max-height: 100%;
  padding: 10px;
  width: 50%;
}
.row-section{
  display: flex;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
.row-section:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  max-height: 100%;
  padding: 45px;
}
.row{
  display: flex;
  height: 506px;
  padding-left: 50px;
  padding-right: 50px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.contactme-right{
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  width: 58.33333%;
}
.contactme-left{
  width: 22%;
  background-color: #dc3545;
  color: white;
}
.form-control{
  display: block;
  width: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  margin-bottom: 1rem;
  height: 36px;
}
.label{
  display: inline-block;
  margin-bottom: 0.5rem;
}
.label-left{
  font-size: 20px;
}
.send-message{
  padding: 12px 16px;
  cursor: pointer;
  border-width: 0;
  border-radius: 5px;
  font-size: 14px;
  background-color: #dc3545;
  color: white;
}

.mb-0{
  color: black;
  font-size: calc(1.325rem + 0.9vw);
  margin: 0;
  text-transform: uppercase;
}
.mb-1{
  color: #6c757d;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.mb-2{
  font-size: 25px;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
  font-family: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

}

